body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 600px;
    width: 450px;
    background-color: pink;
    padding-top: 5px;
    border-radius: 5px;
}

.display {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 80px;
    width: 400px;
    border-radius: 10px;
}

.topBtns {
    display: flex;
    flex-flow: row nowrap;
    flex: auto;
    height: 20px;
    width: 400px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin: auto;
}

.longBtns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
}